{% extends "admin/change_form.html" %}
{% load i18n %}
{% load mptt_tags %}
{% block extrahead %}
{{ block.super }}
<style type="text/css">
ins, del {
text-decoration:none;
}

del {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFCCCC none repeat scroll 0 0;
}

ins {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#BBFFBB none repeat scroll 0 0;
}

#occurrences-group h2:before {
	content:"One-off ";
}

/* hide inlines text */
#occurrences-group td.original p,
#exclusions-group td.original p,
#generators-group td.original p {
	display: none;
}

#occurrences-group tr.has_original td,
#exclusions-group tr.has_original td,
#generators-group tr.has_original td {
	padding-top: 0;
}



</style>
{% endblock %}

{% block object-tools-items %}
  {{ block.super }}
  {% if original and object.id %}
		<li><a href="{{ occurrences_url }}">View all occurrences ({{ object.occurrences.count }})</a></li>
  {% endif %}
{% endblock %}

